<div style="padding:10px;">
	<div class="panelheader"> 
		<div class="panel panel-primary">
						   <div class="pageheader">
								<i class="fa fa-bar-chart-o fa-fw"></i>                       
						   </div>        		
						   <div class="panel-body" >
							   <div id="msg" class="msg"> </div>
							   <form [formGroup]="form" (ngSubmit)="onSubmit(roles)" novalidate enctype="multipart/form-data">
								  <div class="panel panel-default">            
										<div class="panel-body">
											<div class="form-group"  >
												<label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
												<div class="col-sm-9">											  
												<input type="text" class="form-control" formControlName="role_name"  required placeholder="Name" [(ngModel)]="roles.role_name"/>					
												<div  *ngIf="this.form.get('role_name').hasError('required') && this.form.get('role_name').touched">Name is required</div>
												<input type="hidden" class="form-control" formControlName="role_id"  [(ngModel)]="roles.role_id"/>	
												</div>
											</div>	
										</div>
									    <div class="panel-footer">
										<div class="row">
										  <div class="col-sm-9 col-sm-offset-3">										
											<button  [disabled]="this.form.invalid" class="btn btn-primary">Submit</button>
										  </div>
										</div>
									    </div>								
								  </div>
								</form>
						   </div>
		</div>
	</div>     
</div>
