    <div class="pageheader">
      <h2><i class="fa fa-table"></i>Role Permissions</h2>
	   <div class="breadcrumb-wrapper">        
			<!--a [routerLink]="['/home/editroleper']">
				<button class='btn btn-primary' type='button' id='add'>Add</button>
			</a-->
      </div>
    </div>
    <div class="contentpanel">      
      <div class="panel panel-default">      
        <div class="panel-body">		
          <div class="table-responsive">
		    <p class="mb20" align='center'><code id='error'></code></p>	
			<table class="table" >
                            <thead>
                               <tr>
                                   <th>Role Name</th>                                        
                                   <th>Status</th>
                                   <th>Action</th>                   
                               </tr>
                            </thead>
                            <tbody id="table2">   
                                        <tr *ngFor="let item of roles['roles_list']">
                                                <td>{{item.role_name}}</td>
                                                <td>				   				   				   
                                                  <a [routerLink]="['/home/editroleper', item.role_id]">
                                                              <button class='btn btn-warning' type='button' id='edit'>Edit</button>
                                                      </a>
                                                 
                                                </td>
                                        </tr>				  
                            </tbody>
                        </table>
          </div>
                <my-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="3" [page]="page" [perPage]="limit" [count]="total"></my-pagination>
		<input type="hidden" name="pageno" id="pageno" value="1">
		<input type="hidden" name="sortby" id="sortby" value="product_id">
		<input type="hidden" name="sorttype" id="sorttype" value="desc">
        </div>
      </div>
    </div>